<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <img ng-src="{{file.path}}" class="detail-image" fallback-src="assets/images/placeholder.jpg"/>
       <h2 editable-text="file.filename" onbeforesave="editFilename($data, file.filename)">{{file.filename}}<span class= "icon fa-pencil editable"></span></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1 col-md-offset-4">
      <a href= "{{file.path}}" target="_self" download="{{file.filename}}" class="inline-link edit-options">Download&nbsp;<span class= "icon fa-arrow-down"></span></a>
    </div>
 
    <div class="col-md-2 col-md-offset-1 right">
      <span class="edit-options" ng-click="deleteItem(file.filename)">Delete&nbsp;<i class= "icon fa-close"></i></span>
    </div>
  </div>
</div>

