<div id="foo"></div>
<div class="row">
  <!-- The Upload Form -->
  <div class="col-md-10 col-md-offset-1">

<div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Select The File</h3>
      </div>
          <div class="upload-drop-zone" id="drop-zone">
            (Sorry guys, still working on adding this in. Coming soon!
            Go ahead and use the select button below, for now.) 
          </div>
      <div class="panel-body">
        <input class="bottom-marg-15" type="file" name="file" file></input>
        
        <!-- Progress Bar -->
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
            {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
          </div>
        </div>  

        <a class="btn btn-primary btn-block btn-lg"  name="drop-upload" id="drop-upload" ng-click="upload()">Upload</a>
      </div>

    <div drag-drop></div>
    </div>
  </div> 
</div> 